/providence/nbproject/*
/providence/app/tmp/*
/providence/app/conf/local/*
/providence/setup.php
/providence/media/*
/providence/!/media/.htaccess
/providence/!/media/README.md
/providence/.DS_Store
/providence/.settings
/providence/.project
/providence/.idea/
/providence/*.un~
/providence/*.sublime-*
/providence/*.swp
/providence/.vagrant/
/providence/import/*
/providence/app/lib/Parsers/dompdf/lib/fonts/*fm.php
/providence/app/log/log*.txt
/providence/app/log/*.log
/providence/themes/default/views/bundles/inspector_info.php
/providence/support/scripts/*.php
/providence/support/scripts/*.sh
/pawtucket/nbproject/*
/pawtucket/app/tmp/*
/pawtucket/app/conf/local/*
/pawtucket/setup.php
/pawtucket/media/*
/pawtucket/!/media/.htaccess
/pawtucket/!/media/README.md
/pawtucket/.DS_Store
/pawtucket/.settings
/pawtucket/.project
/pawtucket/.idea/
/pawtucket/*.un~
/pawtucket/*.sublime-*
/pawtucket/*.swp
/pawtucket/.vagrant/
/pawtucket/import/*
/pawtucket/app/lib/Parsers/dompdf/lib/fonts/*fm.php
/pawtucket/app/log/log*.txt
/pawtucket/app/log/*.log
/pawtucket/themes/default/css/local.css
/pawtucket/themes/default/views/bundles/inspector_info.php
/pawtucket/support/scripts/*.php
/pawtucket/support/scripts/*.sh
